.q_container {
    width: 650px;
    margin: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding: 50px 0 50px 50px;
    color: #12181e;
    gap: 17px;
    background-color: #ffffff;
}

.q_container h1 {
    margin: 0 20.5rem 0 auto;
    font-family: "Oxanium", sans-serif;
    font-size: 33px;
}

.q_container h2 {
    font-size: 19px;
    font-weight: 500;
}

.q_container li {
    list-style: none;
    display: flex;
    align-items: center;
    width: 80%;
    margin: 20px 0;
    border: 2px solid #85fe78;
    padding: 15px 0 15px 25px;
    border-radius: 35px;
}

.selection {
    background-color: #27ac1f;
    color: #ffffff;
    border-color: #27ac1f;
}

.q_container button {
    width: 120px;
    margin: auto;
    border-radius: 10px;
    padding: 8px 15px;
    font-size: 23px;
    font-weight: bold;
}

.disable {
    cursor: not-allowed;
    background-color: #ffffff;
}

.enable {
    background-color: #27ac1f;
    color: #12181e;
    cursor: pointer;
}
