.selection {
    background-color: #fb8122;
}

.question button {
    width: 120px;
    margin: auto;
    border-radius: 10px;
    padding: 8px 15px;
    font-size: 23px;
    font-weight: bold;
}

.disable {
    cursor: not-allowed;
}

.enable {
    background-color: #1d2228;
    color: #e1e2e2;
    cursor: pointer;
}
