.container {
    width: 700px;
    background-color: #12181e;
    border-radius: 5px;
}

.quiz_wrapper {
    padding: 2rem;
    color: #ffffff;
    text-align: center;
}

.quiz_wrapper h3 {
    font-weight: lighter;
    font-size: 3rem;
}

.quiz_wrapper h2 {
    font-size: 2.3rem;
    font-family: "Oxanium", sans-serif;
}

.start_btn {
    outline: none;
    border: none;
    background-color: #27ac1f;
    color: #ffffff;
    padding: 0.7rem 1.8rem;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 3px;
    width: fit-content;
    font-family: "Oxanium", sans-serif;
}

.quiz_wrapper p {
    margin: 1rem 0;
    font-size: 1.1rem;
}
